<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Info</title>
</head>
<body>
  <div>
    <h2>{{ book.title }}</h2>
    <h3>{{ book.author }}</h3>
    <h4>{{ book.genre }}</h4>
    <!-- <h5>Is book checked out: {{ book.checked_out}}</h5> -->
    <!-- <form action="/library/delete/{{ index }}" method="post"><input type="submit" value="Remove Book"></form> -->
    
  </div>
</body>
</html>